[Unit]
Description=Crip Update Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/cripos/services/boot_service.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
